@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');


html, 
body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

:root {
  --main-blue: #20a0f5;
  --less-blue: #64c0eb;
  --main-red: #f14242;
  --heading-family: 'Patua One', cursive;
  --content-family: 'Cabin', sans-serif;
  --button-family: 'Roboto Slab', serif;
  --logo-family: 'Abril Fatface', cursive
}
